{% extends "base.html.twig" %}

{% block title %}Acteurs
{% endblock %}

{% block content %}
	{% for actor in actors %}
		<a href="./actor/{{ actor.id }}">{{ actor.lastname | upper}}</a>
		{{ actor.firstname | upper}}
		<br>
	{% endfor %}
{% endblock %}
