{% extends "base.html.twig" %}

{% block title %}Add actor
{% endblock %}

{% block content %}

	<h1>Add a new actor</h1>
	<form action="addActor" method="post">
		<label for="first_name">First name</label>
		<input type="text" name="first_name" id="first_name">
		<br>
		<label for="last_name">Last name</label>
		<input type="text" name="last_name" id="last_name">
		<br>
		<input type="submit" value="Add">
	</form>
	<br>
{% endblock %}
