{% extends "base.html.twig" %}

{% block title %}Update actor
{% endblock %}

{% block content %}

	<h1>Update actor</h1>
	<form action="../updateActor" method="post">
		<label for="first_name">First name</label>
		<input type="text" name="first_name" id="first_name" value="{{ actor.firstname }}">
		<br>
		<label for="last_name">Last name</label>
		<input type="text" name="last_name" id="last_name" value="{{ actor.lastname }}">
		<br>
		<input type="submit" value="Update">
	</form>
	<br>
{% endblock %}
